/.vscode
/.idea
/cmake-build-*
/dist
/docs/api
/network

/topology
!/topology/topology.default.json

/esp32/spiffs_partition/*
!/esp32/spiffs_partition/.gitkeep
/esp32/sdkconfig
/esp32/sdkconfig.old
/esp32/managed_components
/esp32/build